<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title> 
</head>
<body>
    <div class="container">
        <header>Know your water</header>
        <br>
        <form action="#" method="post">
            <div class="form first">
                <div class="details personal">
                

                    <div class="fields">
                        <div class="input-field">
                            <label><h3>PH value</h3></label>
                            <input type="text" placeholder="in ppm" name="ph" required>
                        </div>
                        <br>
                        <div class="input-field">
                            <label><h3>Hardness</h3></label>
                            <input type="text" placeholder="im mg/L" name="hardness" required>
                        </div>

                        <div class="input-field">
                            <label><h3>Solids</h3></label>
                            <input type="text" placeholder="in ppm" name="solids" required>
                        </div>

                        <div class="input-field">
                            <label><h3>Chloramines</h3></label>
                            <input type="text" placeholder="in ppm" name="chloramines" required>
                        </div>

                        <div class="input-field">
                            <label><h3>Sulphate</h3></label>
                            <input type="text" placeholder="in mg/L" name="sulphate" required>
                        </div>

                        <div class="input-field">
                            <label><h3>Conductivity</h3></label>
                            <input type="text" placeholder="in S/cm" name="conductivity" required>
                        </div>
                        <div class="input-field">
                            <label><h3>Organic carbon</h3></label>
                            <input type="text" placeholder="in ppm" name="organiccarbon" required>
                        </div>
                        <div class="input-field">
                            <label><h3>Trihalomethane</h3></label>
                            <input type="text" placeholder="in g/L" name="trihalomethane" required>
                        </div>
                        <div class="input-field">
                            <label><h3>Turbidity</h3></label>
                            <input type="text" placeholder="in NTU" name="turbidity" required>
                        </div>
                    </div>
                </div>

                <br>
                    <a href="/index"></a><button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button></a>
                </div> 
            </div>

            
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>